body {
  overflow: hidden;
  color: white;
  font-family: sans-serif;
  background: #333;
}

canvas {
	float: left;
	// transform: scale(.75) translate(-10%, -20%);
}

#help-button {
  color: white;
  cursor: pointer;
  &:hover {
    color: #ddd;
  }
}

nav {
  background: #333;
  padding: 8px 0;
  width: 100%;
  text-align: center;
}

ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;

  a {
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
      transition: color ease-in 0.1s;
    }
    &:hover {
      color: #999;
      transition: color ease-in 0.1s;
    }
  }
}
